pipeline/BO2.json
{
	"name": "BO2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve Config for BOS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve Config for BOS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"Specdoe": {
											"value": "@pipeline().parameters.speccode",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@replace(item().name,'.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "BO2_CHILD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Source_Name": {
										"value": "@item().SourceName",
										"type": "Expression"
									},
									"Where_Condition": {
										"value": "@item().WhereCondition",
										"type": "Expression"
									},
									"Spec_Code": {
										"value": "@item().SpecCode",
										"type": "Expression"
									},
									"Field_List": {
										"value": "@item().FieldList",
										"type": "Expression"
									},
									"Directory": {
										"value": "@item().Directory",
										"type": "Expression"
									},
									"Target_Name": {
										"value": "@item().TargetName",
										"type": "Expression"
									},
									"Target_File_Extention": {
										"value": "@item().TargetFileExtention",
										"type": "Expression"
									},
									"Is_EmailFunNeeded": {
										"value": "@item().IsEmailFunNeeded",
										"type": "Expression"
									},
									"Source_Type": {
										"value": "@item().SourceType",
										"type": "Expression"
									},
									"Target_Type": {
										"value": "@item().TargetType",
										"type": "Expression"
									},
									"Operation": {
										"value": "@item().Operation",
										"type": "Expression"
									},
									"MinWindowStartValue": {
										"value": "@item().MinWindowStartValue",
										"type": "Expression"
									},
									"SpecCodeId": {
										"value": "@item().SpecCodeId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Retrieve Config for BOS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT pc.* ,\n    SpecCodeId,\n    MinWindowStartValue\nFROM [config].[Pipelines_Config] pc left join [config].[Pipeline_DeltaLoad] dpd\non pc.id = dpd.SpecCodeId\nwhere SpecCode = @{pipeline().parameters.speccode}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"speccode": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Metadata V2"
		},
		"annotations": []
	}
}